body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10%;
    height: 100vh;
}

.clock {
    border: solid 3px #333;
    border-radius: 50%;
    width:200px;
    height:200px;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 100px;
    transform: translateX(100px);
    transform-origin: bottom center;
}

.minute {
    width: 3px;
    background-color: #333;
    height: 90px;
}

.hour {
    width: 5px;
    background-color: #333;
    height: 60px;
}

.second {
    width: 1px;
    background-color: rgb(191, 22, 22);
    height: 90px;
}

.tick {
    position: absolute;
    bottom: 100px;
    transform: translateX(100px);
    transform-origin: bottom left;
    height:90px;
}

.line {
    position: absolute;
    top: 0px;
    height: 10px;
    width: 2px;
    background-color: #999;
}

.one {
    transform: translateX(100px) rotate(30deg);
}

.two {
    transform: translateX(100px) rotate(60deg);
}

.three {
    transform: translateX(100px) rotate(90deg);
}

.four {
    transform: translateX(100px) rotate(120deg);
}

.five {
    transform: translateX(100px) rotate(150deg);
}

.six {
    transform: translateX(100px) rotate(180deg);
}

.seven {
    transform: translateX(100px) rotate(210deg);
}

.eight {
    transform: translateX(100px) rotate(240deg);
}

.nine {
    transform: translateX(100px) rotate(270deg);
}

.ten {
    transform: translateX(100px) rotate(300deg);
}

.eleven {
    transform: translateX(100px) rotate(330deg);
}

.am-pm {
    margin-bottom:10px;
    width: 100%;
    position: absolute;
    bottom:20px;
    transform-origin: bottom center;
}